.calculator {
  max-width: 320px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.display {
  font-size: 32px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 24px;
  padding: 15px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

button:active {
  transform: scale(0.95);
}
